<div ng-controller="PessoasCtrl">
    <style>
        tr.selected {
            background-color: #f0f0f0;
        }
    </style>
    <h2>Lista de Pessoas</h2>

    <button data-uk-modal="{target: '#adicionarPessoa'}" type="button" class="uk-button">
        <span class="fa fa-plus"></span><span class="uk-text-left-small"> Adicionar</span>
    </button>
    <div class="uk-grid">
        <div class="uk-width-3-5">
            <table class="uk-table uk-table-condensed uk-text-nowrap">
                <thead>
                <tr>
                    <th class="uk-width-2-5">Nome</th>
                    <th class="uk-width-2-5">Sobrenome</th>
                    <td class="uk-width-1-5">Ação</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in pessoas">
                    <td>{{p.nome}}</td>
                    <td>{{p.sobreNome}}</td>
                    <td>
                        <button ng-click="remover(p)" class="uk-button"><span class="fa fa-trash"></span><span class="uk-text-left-small">Remover</span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div id="adicionarPessoa" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <form name="userForm" class="uk-form" ng-submit="salvar()">
                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        <input type="text" name="nome" ng-model="pessoa.nome"
                               ng-class="{ 'uk-form-danger': userForm.nome.$touched && userForm.nome.$invalid }"
                               class="uk-width-9-10"
                               required
                               placeholder="Nome">

                        <div class="uk-form-help-block" ng-messages="userForm.nome.$error" ng-show="userForm.nome.$touched">
                            <p ng-message="required">Nome é obrigatório.</p>
                        </div>


                    </div>
                </div>
                <div class="uk-form-row">
                    <input name="sobreNome"
                           ng-model="pessoa.sobreNome"
                           ng-class="{ 'uk-form-danger': userForm.sobreNome.$touched && userForm.sobreNome.$invalid }"
                           class="uk-width-9-10"
                           required
                           placeholder="Sobrenome"></input>

                    <div class="uk-form-help-block" ng-messages="userForm.sobreNome.$error" ng-show="userForm.sobreNome.$touched">
                        <p ng-message="required">Sobrenome é obrigatória.</p>
                    </div>
                </div>
                <div class="uk-form-row">

                    <button class="uk-button uk-button-primary" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>

</div>
