<div ng-controller="ProjetosCtrl">
    <style>
        tr.selected {
            background-color: #f0f0f0;
        }
    </style>
    <h2>Lista de Projetos</h2>

    <button data-uk-modal="{target: '#adicionarProjetos'}" type="button" class="uk-button">
        <span class="fa fa-plus"></span> <span class="uk-text-left-small">Adicionar</span>
    </button>
    <div class="uk-grid" >
        <div class="uk-width-small-1-1 uk-width-medium-3-5 uk-width-large-3-5" style="overflow:auto;">
            <table class="uk-table uk-table-condensed uk-text-nowrap">
                <thead>
                <tr>
                    <th class="uk-width-1-5">ID</th>
                    <th class="uk-width-2-5">Nome</th>
                    <th class="uk-width-3-5">Descrição</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'selected': selecionado.$$hashKey === projeto.$$hashKey}" ng-click="select(projeto)" ng-repeat="projeto in projetos">
                    <td>{{projeto.$$hashKey}}</td>
                    <td>{{projeto.nome}}</td>
                    <td>{{projeto.descricao}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="selecionado" class="uk-width-small-1-1 uk-width-medium-2-5 uk-width-large-2-5" style="overflow:auto;">
            <div class="uk-width-1-1 uk-text-truncate">Nome: {{selecionado.nome}}</div>
            <div class="uk-width-1-1 uk-text-truncate">Descrição: <span class="uk-text-truncate">{{selecionado.descricao}}</div>
            <div class="uk-width-1-1 uk-text-truncate">Participantes:</div>

            <button data-uk-modal="{target: '#alocarPessoa'}" class="uk-button"><span class="fa fa-plus"></span><span class="uk-text-left-small"> Alocar Pessoa Projeto</span></button>
            <button ng-click="salvarPessoas()" class="uk-button"><span class="fa fa-cloud"></span> <span class="uk-text-left-small">Salvar</span></button>

            <table class="uk-table uk-table-condensed uk-text-nowrap">
                <thead>
                    <tr>
                        <th class="uk-width-2-4">Nome</th>
                        <th class="uk-width-2-4">Sobrenome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in selecionado.pessoas">
                        <td>{{p.nome}}</td>
                        <td>{{p.sobrenome}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>



    <div id="adicionarProjetos" class="adicionarProjetos uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <form name="userForm" class="uk-form" ng-submit="salvar()">
                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        <input type="text" name="nome" ng-model="projeto.nome"
                               ng-class="{ 'uk-form-danger': userForm.nome.$touched && userForm.nome.$invalid }"
                               class="uk-width-9-10"
                               required
                               placeholder="Nome">

                        <div class="uk-form-help-block" ng-messages="userForm.nome.$error" ng-show="userForm.nome.$touched">
                            <p ng-message="required">Nome de projeto é obrigatório.</p>
                        </div>


                    </div>
                </div>
                <div class="uk-form-row">
                    <textarea name="descricao"
                           ng-model="projeto.descricao"
                           ng-class="{ 'uk-form-danger': userForm.descricao.$touched && userForm.descricao.$invalid }"
                           class="uk-width-9-10"
                           required
                           placeholder="Descrição"></textarea>

                    <div class="uk-form-help-block" ng-messages="userForm.descricao.$error" ng-show="userForm.descricao.$touched">
                        <p ng-message="required">Descrição é obrigatória.</p>
                    </div>
                </div>
                <div class="uk-form-row">

                    <button class="uk-button uk-button-primary" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
    <div id="alocarPessoa" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>

            <div
                    isteven-multi-select
                    input-model="todasPessoas"
                    output-model="selecionado.pessoas"
                    button-label="nome sobreNome"
                    item-label="nome sobreNome"
                    tick-property="ticked"
                    
            >
            </div>

        </div>
    </div>

</div>
