<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>IEC</title>
    <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" sizes="32x32" th:href="@{images/favicon-32.png}">
    <link rel="shortcut icon" sizes="16x16" th:href="@{images/favicon-16.png}">
    <link rel="stylesheet" th:href="@{styles/app.css}">
    <link rel="stylesheet" href="bower_components/isteven-angular-multiselect/isteven-multi-select.css">
</head>
<body ng-app="mainApp" data-uk-observe>

<div  ng-if="::false" class="splash">
    <div class="message">IEC</div>
    <div class="description">Loading</div>
    <div class="loader"></div>
</div>
<div ng-cloak class="container">
  <nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#/projetos">Projetos</a></li>
        <li><a href="#/pessoas">Pessoas</a></li>
    </ul>
</nav>
<div class="uk-container">
    <div ng-view></div>
</div>

</div>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/uikit/js/uikit.min.js"></script>
<script src="bower_components/uikit/js/components/notify.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/isteven-angular-multiselect/isteven-multi-select.js"></script>
<script src="src/view/projetos.js"></script>
<script src="src/view/pessoas.js"></script>
<script src="src/app.js"></script>
</body>
</html>
